<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	<!-- Use @Transactional instead of <tx:advice> -->
	<tx:annotation-driven />

	<!-- DataSource bean -->
	<bean name="ds" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="username" value="demo" />
		<property name="password" value="welcome1" />
		<property name="url"      value="jdbc:oracle:thin:@orcl.csyh92ll2is8.us-west-2.rds.amazonaws.com:1521:orcl" />
	</bean>


	<!-- SessionFactory -->
	<bean name="sf"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="ds" />
		<property name="packagesToScan" value="beans" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.connection.pool_size">20</prop>
				<prop key="hibernate.dialect"> org.hibernate.dialect.Oracle10gDialect </prop>
				<prop key="show_sql">true</prop>
			</props>
		</property>
	</bean>


	<!-- Transaction Manager -->
	<bean name="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sf" />
	</bean>


	<!-- DAO beans -->
	<bean name="bankAccountDAO"      class="dataTier.BankAccountDAO">      <property name="sessionFactory" ref="sf" /> </bean>
	<bean name="donationDAO"         class="dataTier.DonationDAO">         <property name="sessionFactory" ref="sf" /> </bean>
	<bean name="eventDAO"            class="dataTier.EventDAO">            <property name="sessionFactory" ref="sf" /> </bean>
	<bean name="organizationDAO"     class="dataTier.OrganizationDAO">     <property name="sessionFactory" ref="sf" /> </bean>
	<bean name="organizationTypeDAO" class="dataTier.OrganizationTypeDAO"> <property name="sessionFactory" ref="sf" /> </bean>
	<bean name="userDAO"             class="dataTier.UserDAO">             <property name="sessionFactory" ref="sf" /> </bean>
	<bean name="userRoleDAO"         class="dataTier.UserRoleDAO">         <property name="sessionFactory" ref="sf" /> </bean>
	
	
	<!-- Facade bean -->
	<bean name="facade" class="dataTier.DataFacade">
		<property name="bankAccountDAO" ref="bankAccountDAO" />
	</bean>
</beans>
